USE [master]
GO
/****** Object:  Database [InventarioDb]    Script Date: 21/06/2025 0:33:04 ******/
CREATE DATABASE [InventarioDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventarioDb', FILENAME = N'C:\Users\renat\InventarioDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventarioDb_log', FILENAME = N'C:\Users\renat\InventarioDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventarioDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventarioDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/06/2025 0:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/06/2025 0:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nvarchar](max) NOT NULL,
	[DescripcionProducto] [nvarchar](max) NULL,
	[CategoriaProducto] [nvarchar](max) NULL,
	[ImagenProducto] [nvarchar](max) NULL,
	[PrecioProducto] [decimal](18, 2) NOT NULL,
	[StockProducto] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transacciones]    Script Date: 21/06/2025 0:33:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacciones](
	[TransaccionId] [int] IDENTITY(1,1) NOT NULL,
	[FechaTransaccion] [datetime2](7) NOT NULL,
	[TipoTransaccion] [nvarchar](max) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[CantidadTransaccion] [int] NOT NULL,
	[PrecioUnitarioTransaccion] [decimal](18, 2) NOT NULL,
	[DetalleTransaccion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Transacciones] PRIMARY KEY CLUSTERED 
(
	[TransaccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
